# The file containing environment variables
*.env

# Ignore IDE specific files
*.idea
*.vscode

# Ignore temporary files files
*.pyc
*.pyd
*.pyo

# Ignore sistem files
Thumbs.db
.DS_Store

pyproject.toml
poetry.lock